*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Idea
.idea

# OS X
.DS_Store

# Extra
ext_tools/snpEff/data

# Tests
test/run_info.yaml
test/**/*work*
test/**/*tmp*
test/data/big
test/results_*

# Bcbio tests
test/**/vardict
test/**/qc
test/**/varQC
test/**/targetSeq
test/**/varFilter
test/**/*.anno.filt.*
test/**/scripts/*.map
test/**/2014-*

test/*.maf
test/*.vcf
test/dropbox

test/targqc_on_bams_test/
test/targqc_small_test/