*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
#var
sdist
develop-eggs
.installed.cfg
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Idea
.idea

# OS X
.DS_Store

# Extra
ext_tools/snpEff/data
ext_tools/snpEff_4.0
ext_tools/snpEff/examples

# Tests
test/run_info.yaml
test/**/*work*
test/**/*tmp*
test/data/big
test/results_*

# Bcbio tests
#test/**/vardict
#test/**/qc
#test/**/varQC
#test/**/targetSeq
#test/**/varFilter
#test/**/*.anno.filt.*
test/**/scripts/*.map
#test/**/2014-*

#test/*.maf
#test/*.vcf
test/NGS-99-update__only_reports
test/html_reports/NGS-99-update__only_reports
test/html_reports/EXT_021_Courtagen_Faslodex_HaloPlex__only_reports
test/html_reports/TS_0023_TGEN_DLBCL__only_reports
test/bcbio
test/dropbox

test/targqc_on_bams_test/
test/targqc_small_test/

test/clinical_reporting/Dev_0132_HiSeq4000_AURA/final/2015-09-30_bcbio/log
test/clinical_reporting/Dev_0132_HiSeq4000_AURA/final/AURA-155_S7/clinical
test/clinical_reporting/Dev_0132_HiSeq4000_AURA/final/2015-09-30_bcbio/*.html
