*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

.idea
.DS_Store
*/.DS_Store

test/**/*work*
test/**/*tmp*
test/data/big
test/results_big_vcf
test/results_summary_targetcov_bk
test/results_summary_targetcov_parallel
test/results_anno

test/bcbio/final/**/varannotate
test/bcbio/final/**/varqc
test/bcbio/final/**/ngscat
test/bcbio/final/**/qualimap
test/bcbio/final/**/targetcov
test/bcbio/final/**/varqc_after
test/bcbio/final/**/varfilter
test/bcbio/final/**/varfilter_2
test/bcbio/final/**/targetcov_summary
test/bcbio/final/**/vaqc_summary
test/bcbio/final/**/vardict
test/bcbio/final/sample1/sample1-ready.bam.bai
test/bcbio/final/2014-07-03_bcbio/varqc_summary
test/bcbio/final/2014-07-03_bcbio/targetcov_summary
test/results_qs_summary