numpy
pybedtools
joblib
pyyaml
ssh
paramiko
Crypto
bs4
genologics
jira
ecdsa
requests
xlwt
pysam
pytabix
multiqc
ipython
ipython-cluster-helper
ipython-genutils
ipyparallel
HTSeq
CrossMap
biopython
jsontemplate
solvebio