table.tableSorter th div.sortArrow {
    width: 11px;
    height: 5px;
    display: inline-block;
    vertical-align: 2px;
    position: relative;
}

table.tableSorter th div.sortArrow div.sortArrowDescending {
    width: 11px;
    height: 5px;
    background: url('arrow_desc.png') no-repeat 100% 100%;
    display: none;
}

table.tableSorter th div.sortArrow div.sortArrowAscending {
    width: 11px;
    height: 5px;
    background: url('arrow_asc.png') no-repeat 100% 100%;
    display: none;
}
