td.long_line
    overflow: hidden              /* "overflow" value must be different from  visible" */
    -o-text-overflow: ellipsis    /* Opera < 11 */
    text-overflow: ellipsis       /* IE, Safari (WebKit), Opera >= 11, FF > 6 */
td.long_line:hover
    overflow: visible
    -o-text-overflow: unset
    text-overflow: unset
    >span
        border: 1px solid black
        position: absolute
        margin-top: -8px
        margin-left: -1px
        background: white

.actionable_table td.long_line:hover>span
    margin-top: -1px !important


.clinical_report
    table.report_table
        td, th
            max-width: 160px

    .multi-col-layout
        column-count: 4
        -moz-column-count: 4
        -webkit-column-count: 4
        tr td.right_column_td
            border-right: 1px solid #bbb

    h1
        margin-top: 30px

#clinical_report_header_container
    overflow: hidden
    width: 100%

.actionable_table
    th, th *
        overflow: auto
        white-space: normal
        vertical-align: bottom
    //th span
    //    padding-right: 10px
    td, td *
        vertical-align: top
    //td span
        //padding-right: 10px

