table.table_short tr.no_hotspots {
    display: none; }

table.table_short th {
    border-bottom: 1px solid #bbb; }

table.report_table {
        table-layout: fixed;
        width: 100%; }

.expandable_row.expanded td {
  vertical-align:top; }

.expandable_row.expanded span {
  white-space: normal; }

.expandable_gene_row.collapsed td.td_position:after {
  content: ' (click to expand)'; }

.expandable_row.collapsed td.long_expanded_line, .expandable_gene_row td.long_expanded_line {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

.expandable_row.collapsed td.long_expanded_line:hover, .expandable_gene_row td.long_expanded_line:hover {
  overflow: visible;
  -o-text-overflow: unset;
  text-overflow: unset; }

.expandable_row.collapsed td.long_expanded_line:hover >span, .expandable_gene_row td.long_expanded_line:hover >span {
  border: 1px solid black;
  position: absolute;
  margin-top: -8px;
  margin-left: -1px;
  background: white; }

